VITE_SUPABASE_URL=https://ckbsmvppryybibrbijvx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrYnNtdnBwcnl5YmlicmJpanZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA4NTMxNzQsImV4cCI6MjEwNjQyOTE3NH0.5TaSuOoCZ5ARu6O2PhRQ4eaYifQr6_2vopkMI8tXtfU
